.blog-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  flex-wrap: wrap;
}
.blog {
  width: 40%;
  min-height: 450px;
  margin: 1%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: fit-content;
}
.blog-info {
  margin-bottom: 20px;
  margin-left: 10px;
}
.blog-info > span {
  margin: 0;
  font-size: calc(0.5rem + 0.5vw);
}
.blog-image {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 5px;
}

.blogscreen-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 20px 0;
}

.goback {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  width: 120px;
  height: 40px;
}

.blog-content {
  width: 100%;
  
}

.blog-content > h2{
  font-size: calc(1.1rem + 1vw);
  color: rgb(0, 99, 153);
}

.blog-content > p {
  font-size: calc(0.8rem + 0.3vw);
  color: rgb(0, 142, 198);
}

.del-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  width: 120px;
  height: 40px;
  margin-right: 20px;
}

.edit-button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  width: 120px;
  height: 40px;
}

.edit-button > a {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .blog-container {
    flex-direction: column;
    margin: 0;
  }
  .blog {
    width: 90%;
    margin: 10px 0;
    padding: 5%;
    min-height: 350px;
  }
}
